<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>
      Someone has got some Query
    </h2>
    <p>
      Email Id: <%= @params[:email] %>.<br>
      Name: <%= @params[:name] %><br>
      Phone No: <%= @params[:phone] %><br>
    </p>
    <p>
      Message: <%= @params[:message] %><br>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>