* {
	padding: 0;
	margin: 0;
}

body {
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	margin-right: 0px !important;
	margin-left: 0px !important;
	margin-top: -9px !important;
	margin-bottom: 0px !important;
}

li {
	list-style: none;
	display: inline-block;
}

a {
	text-decoration: none;
	transition: all 500ms ease-in-out;
}

a:hover,
a:active {
	text-decoration: none;
}

h1,
h2,
h4 {
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	font-weight: 700;
}

p {
	font-size: 15px;
	line-height: 21px;
}

.bin {
	transition: all 300ms ease-in-out;
	font-weight: 500 !important;
	text-transform: uppercase;
}

.bin:hover {
	background-color: #ededed !important;
	color: #3c3c3c :important;
	border: 1px solid #fff !important;
}

/* applicationhtml starts here */

.applicationhtml .current-user {
	margin-top: 60px !important;
	text-align: right !important;
}

/* applicationhtml ends here */


/* Navigation */

.navbar {
	background-color: #222222 !important;
	text-transform: uppercase;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	font-weight: 700;
}

.navbar a {
	color: #fff !important;
	opacity: 0.4;
}

.navbar a:hover{
	opacity: 1;
	background-color: #111111 !important;
}

#myNavbar {
	margin-bottom: 0px !important;
}

/* Header */

.header {
	height: 600px;
	width: 100%;
	padding: 30px 0 30px;
	margin-top: 00px;
	background-image: url(../bg3.jpg);
	background-position: fill fill;
	background-repeat: no-repeat;
	background-size: cover;
	color: #222222;
}


.header img {
	height: 350px;
	width: 450px;
	margin: 70px 0 0 40px;
}

.header h1 {
	font-size: 40px;
	font-weight: 700;
	padding-top: 30px;
	text-transform: default !important;
}

.header h1,
.header p,
.header button {
	margin-top: 20px;
}

.header .btn {
	border-radius: 0;
	margin: 40px 20px;
}

@media(max-width: 768px) {
	.header {
		padding: 30px;
		height: 750px; 
	}

	.header img {
		width: 90%;
		height: 300px;
		margin: 20px 0 0 20px;
	}

	.header .btn {
		font-size: 10px;
		margin-left: 20px;
	}

	.header h1 {
		font-size: 20px;
	}

	.header p {
		font-size: 10px;
	}
}

/* sessionscontrollernew header */

.sessionscontrollernew .header {
	margin-top: 0px !important;
	padding-top: 0px !important;
}

.sessionscontrollernew .header .enter .notice {
	padding-bottom: 0px !important;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	height: 20px !important;
	width: 1000px !important;
}


.sessionscontrollernew .header h2 {
	font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif !important;
	color: #3c3c3c;
	text-transform: capitalize !important;
	margin-top: 20px;
	text-align: center !important;
	margin-bottom: 0px;
}

.sessionscontrollernew .header h1 {
	font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif !important;
	color: #6666ff;
	margin-top: 0px !important;
	text-align: center !important;
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}


.sessionscontrollernew .header i {
	margin-right: 10px !important;
	color: #ebebe0 !important;
}

.sessionscontrollernew .header .gmail a {
	margin-left: 5px !important;
	padding: 13px 30px 13px 30px !important;
	display: inline-block;
	border-radius: 5px;
	border: none;
	font-size: 14px !important;
	font-weight: 700px;
	text-align: center;
	text-transform: uppercase;
	margin: 0 auto; 
	color: #fff;
	background-color: #08f;
}

.sessionscontrollernew .header .facebook a {
	background-color: #3b5998;
	margin-left: 5px !important;
	padding: 13px 20px 13px 20px !important;
	display: inline-block;
	border-radius: 5px;
	border: none;
	font-size: 14px !important;
	font-weight: 700px;
	text-align: center;
	text-transform: uppercase;
	margin: 0 auto; 
	color: #fff;
	display: inline-block !important;

}

.sessionscontrollernew .header .loginthrough {
	margin-top: 50px; 
}

.sessionscontrollernew .verticalLine {
  border-left: thick solid #ff0000;
}

/* input boxes starts */

.sessionscontrollernew .header .enter {
	padding-top: 0px !important;
	margin: 0px 30px 30px 30px !important;
}

.sessionscontrollernew .header .enter i {
	margin-left: 10px !important;
	color: #222222 !important;
	font-size: 20px !important;
}

.sessionscontrollernew .header .enter .buttonlogin i {
	margin-left: 10px !important;
	padding-left: 0px !important;
}


.sessionscontrollernew .header .enter p {
	padding-bottom: 80px;
	color: #737373;
}

.sessionscontrollernew .header .enter h2 {
	color: #4c4c4c;
	margin: 20px 0 20px; 
}

.sessionscontrollernew .header .enter .input-group {
	margin-bottom: 15px;
	max-width: 500px !important;
}

.sessionscontrollernew .header .enter .form-control {
	border-radius: 0 !important;
}

.sessionscontrollernew .header .enter span {
	border-radius: 0 !important;
}

.sessionscontrollernew .header .enter .btn {
	display: inline-block !important;
	padding-left: 10px !important;
	margin-top: 10px;
	margin-left: 295px;
	border: 0 !important;
	border-radius: 5px !important;
	width: 200px;
	font-size: 15px;
	background-color: #f08080;
	color: #fff;
}

.sessionscontrollernew .header .enter .btn:hover {
	background-color: #a85959 !important;
	color: #fff !important;
}

.sessionscontrollernew .header .enter i {
	height: 9px;
	width: 20px;
	font-size: 20px;
}

.sessionscontrollernew .header .enter textarea,
.sessionscontrollernew .header .enter textarea::placeholder {
	font-size: 20px !important;
}

/* input boxes ends */

.sessionscontrollernew .header {
	height: 600px;
	width: 100%;
	padding: 30px 0 30px;
	margin-top: 50px;
	background-image: url(../bg.jpg) !important;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}

.sessionscontrollernew .header img {
	height: 500px;
	width: 450px;
	margin: 50px 0 0 40px;
}


.sessionscontrollernew .header h1,
.sessionscontrollernew .header p,
.sessionscontrollernew .header button {
	margin-top: 20px;
}

.sessionscontrollernew .header .btn {
	border-radius: 0;
	margin: 40px 20px;
}

/* sessionscontrollernew header */

/* personalinfocontrollerindex starts here */

.personalinfocontrollerindex .container12 h2 {
	text-align: left !important;
}

.personalinfocontrollerindex .container12 i {
	margin-right: 20px !important;
	font-size: 25px !important;
}

.personalinfocontrollerindex .column1 {
	background-color: #66c2ff !important;
	padding-bottom: 300px !important;
	padding-top: 30px !important;
	border-radius: 30px !important;
	margin-top: 40px !important;
	text-align: center;
}

.personalinfocontrollerindex .column1 li {
	text-align: center;
}

.personalinfocontrollerindex .column11 {
	background-color: #007acc;
	border-radius: 40px !important;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 70px;
}

.personalinfoscontrollerindex .header h2 {
	color: #222222 !important;
	margin-bottom: 30px !important;
}

.personalinfocontrollerindex .printup {
	margin-top: 50px !important;
}



	/* personalinfocontrollerindexvalidation starts here */

	.personalinfocontrollerindexvalidation p {
		color: green !important;
		padding-bottom: 0px !important;
		margin-bottom: 0px !important;
		margin-top: 0px !important;
	}

	.sessionscontrollernew .header .enter .iclass i {
		font-size: 15px !important;
		margin-right: 0px !important;
		padding-top: 5px !important;
	}

	/* personalinfocontrollerindexvalidation ends here */

/* personalinfocontrollerindex ends here */


/* new user start here */

.newuser .field .input-group {
	margin-bottom: 15px;
	max-width: 500px !important;
}

.headerinnew {
	margin-top: 70px !important;
}

.headerinnew .heading {
	color: #2eb8b8;
	margin-bottom: 40px !important;
}

.newuser .field .actions {
	text-align: right !important;
	margin-left: 20px !important;
}

.headerinnew .btn-back {
	margin-left: 30px !important;
}

/* new user ends here */

/* userscontrollererrors starts here */

.userscontrollernewerrors .userscontrollernewvalidation p {
	color: green !important;
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
	margin-top: 0px !important;
}

.userscontrollernewerrors .userscontrollernewvalidation i {
	font-size: 15px !important;
	margin-right: 10px !important;
	padding-top: 5px !important;
}

/* userscontrollererrors ends here */

/* Services */

.services {
	padding: 80px 0 80px;
	text-align: center; 
}

.services h2, 
.services h4 {
	color: #4c4c4c;
	margin: 20px 0 20px;
}

.services p {
	color: #737373;
	font-size: 14px;
	padding-bottom: 40px; 
}

.services i {
	height: 80px;
	width: 80px;
	font-size: 30px;
	padding: 25px 20px;
	border-radius: 50%;
	background-color: #6699cc;
	color: #fff;
}

@media(max-width: 768px) {
	.services {
		padding: 30px;
	}
}


/* Pricing */

.pricing {
	padding: 50px 0 50px;
	text-align: center;
	background-color: #3399ff;
}

.pricing h2,
.pricing p {
	color: #fff;
}

.pricing p {
	padding-bottom: 40px;
}

.pricing .packages {
	padding: 30px;
	border: 1px solid #ccc;
	background-color: #fff;
	border-radius: 5px;
	margin-top: 30px;
}

.packages li {
	display: block;
	padding: 5px;
}

.packages h4,
.packages h1,
.packages b {
	color: #4c4c4c;
}

.packages p,
.packages li {
	color: #737373;
}

.packages button {
	margin-top: 10px;
}


@media(max-width: 768px) {
	.pricing {
		padding: 30px;
	}

	.packages {
		width: 80%;
		margin-left: 25px;
	}
}

/* Team */ 

.team {
	padding: 50px 0 80px;
	text-align: center;
}

.team b,
.team h2,
.team h4 {
	margin: 20px 0 20px;
	color: #4c4c4c;
}

.team p {
	color: #737373;
}

.team img {
	height: 150px;
	width: 150px;
	margin-top: 80px;
}

.team img:hover {
	height: 200px;
	width: 200px;
	margin-top: 60px;
}

.team i {
	height: 30px;
	width: 30px;
	padding: 5px;
	font-size: 17px;
	border-radius: 50%;
	background-color: #a0db8e;
	color: #fff;
}

.team a:hover i {
	background-color: #709963;
	opacity: 0.5;
}

/* Clients */

.clients {
	padding: 50px 0 80px;
	background-color: #3399ff;
	text-align: center;
	color: #fff;
}

.clients h2 {
	color: #5e5e5e;
}

.clients p {
	padding-bottom: 40px;
}

.clients img {
	width: 200px;
	opacity: 0.6;
	cursor: pointer;
	margin: 40px 0;
	transition: all 500ms ease-in-out;
}

.clients li:hover img {
	opacity: 1;
}

.clients .logo1 img {
	margin-top: 50px;
}
.clients .logo2 img {
	margin-top: 40px;
}
.clients .logo3 img {
	margin-top: 53px;
}
.clients .logo4 img {
	margin-top: 25px;
}

@media(max-width: 768px) {
	.clients {
		padding: 30px;
	}
}

.contact {
	padding: 50px 0 80px;
	text-align: center;
}

.contact p {
	padding-bottom: 80px;
	color: #737373;
}

.contact h2 {
	color: #4c4c4c;
	margin: 20px 0 20px; 
}

.contact .input-group {
	margin-bottom: 25px;
}

.contact .form-control {
	border-radius: 0 !important;
}

.contact span {
	border-radius: 0 !important;
}

.contact .btn {
	border: 0 !important;
	border-radius: 0 !important;
	width: 100%;
	font-size: 15px;
	background-color: #f08080;
	color: #fff;
}

.contact .btn:hover {
	background-color: #a85959 !important;
	color: #fff !important;
}

.contact i {
	height: 9px;
	width: 20px;
	font-size: 20px;
}

.contact textarea,
.contact textarea::placeholder {
	font-size: 20px !important;
}

/* Footer */ 

.footer {
	margin-top: 100px !important;
	padding: 30px;
	color: #cccccc;
	background-color: #222222;
}

.footer .social {
	font-size: 20px;
	height: 30px;
	width: 30px;
	text-align: center;
	padding: 5px;
	border: 1px solid #cccccc;
	margin-bottom: 10px;
	margin-right: 5px;
}

.footer input {
	height: 40px;
	width: 160px;
	padding: 5px;
	border: none;
	background-color: #cccccc;
	color: #000;
}

.footer .btn {
	padding: 10px 5px 10px;
	margin: -3px 0 0 5px; 
}

/* Everything Ends Here */
/*
.pricing .myAnimations {
    animation-name: fadeInLeft, flipInY;
    -webkit-animation-name: fadeInLeft, flipInY;

    animation-delay: 2s, 2s;
    -webkit-animation-delay: 2s, 2s;
}
*/

.sessionscontrollernew {
	padding-top: 0px;
}

.userscontrollernew {
	padding-top: 0px;
}

.userscontrollerindex {
	padding-top: 0px;
}

.userscontrolleredit {
	padding-top: 0px;
}

.userscontrollershow {
	padding-top: 0px;
}
